# Example converting 10X data to Adaptive format

This notebook demonstrates how to convert 10X T-cell receptor gene names to the Adaptive format.

Import libraries and define filepaths

In [2]:
import pandas as pd
from tcrconvert import convert

dat10x_f = '/Users/emmabishop/workspace/tcrconvert/tcrconvert/data/example_10x.csv'

Load example data

In [3]:
dat10x = pd.read_csv(dat10x_f)
dat10x

,barcode,is_cell,contig_id,high_confidence,length,chain,v_gene,d_gene,j_gene,c_gene,full_length,productive,cdr3,cdr3_nt,reads,umis,raw_clonotype_id,raw_consensus_id
0,AAACCTGAGACCACGA-1,True,AAACCTGAGACCACGA-1_contig_1,True,521,TRA,TRAV1-2,None,TRAJ12,TRAC,True,True,CAVMDSSYKLIF,TGTGCTGTGATGGATAGCAGCTATAAATTGATCTTC,1569,2,clonotype16,clonotype16_consensus_1
1,AAACCTGAGACCACGA-1,True,AAACCTGAGACCACGA-1_contig_3,True,584,TRB,TRBV6-1,TRBD2,TRBJ2-1,TRBC2,True,True,CASSGLAGGYNEQFF,TGTGCCAGCAGTGGACTAGCGGGGGGCTACAATGAGCAGTTCTTC,5238,7,clonotype16,clonotype16_consensus_2
2,AAACCTGAGGCTCTTA-1,True,AAACCTGAGGCTCTTA-1_contig_1,True,551,TRB,TRBV6-4,TRBD2,TRBJ2-3,TRBC2,True,True,CASSGVAGGTDTQYF,TGTGCCAGCAGTGGGGTAGCGGGAGGCACAGATACGCAGTATTTT,3846,4,clonotype26,clonotype26_consensus_2
3,AAACCTGAGGCTCTTA-1,True,AAACCTGAGGCTCTTA-1_contig_2,True,518,TRA,TRAV1-2,None,TRAJ33,TRAC,True,True,CAVKDSNYQLIW,TGTGCTGTGAAGGATAGCAACTATCAGTTAATCTGG,2019,2,clonotype26,clonotype26_consensus_1
4,AAACCTGAGTGAACGC-1,True,AAACCTGAGTGAACGC-1_contig_1,True,674,TRB,TRBV2,TRBD1,TRBJ1-2,TRBC1,True,True,CASNQGLNYGYTF,TGTGCCAGCAATCAGGGCCTTAACTATGGCTACACCTTC,3002,6,clonotype81,clonotype81_consensus_2

Take a selection of columns and add a row of nonsense genes, to demonstrate what happens when you data isn't in the IMGT reference.

In [4]:
my_df = dat10x[['barcode', 'is_cell', 'v_gene', 'j_gene', 'cdr3']].copy()
my_df.loc[5] = ['BARCODE', 'True', 'TRBVXYZ', 'TRBJ555', 'CDR3HERE']
my_df

              barcode is_cell   v_gene   j_gene             cdr3
0  AAACCTGAGACCACGA-1    True  TRAV1-2   TRAJ12     CAVMDSSYKLIF
1  AAACCTGAGACCACGA-1    True  TRBV6-1  TRBJ2-1  CASSGLAGGYNEQFF
2  AAACCTGAGGCTCTTA-1    True  TRBV6-4  TRBJ2-3  CASSGVAGGTDTQYF
3  AAACCTGAGGCTCTTA-1    True  TRAV1-2   TRAJ33     CAVKDSNYQLIW
4  AAACCTGAGTGAACGC-1    True    TRBV2  TRBJ1-2    CASNQGLNYGYTF
5             BARCODE    True  TRBVXYZ  TRBJ555         CDR3HERE

Do the conversion

In [5]:
out = convert.convert_tcr(my_df, fmt_from='tenx', fmt_to='adaptive', convert_cols=True)
out

CONVERTING FROM 10X: CHOOSING *01 AS ALLELE FOR ALL GENES
These genes are not in the IMGT reference and have replaced with NA. Please repair gene names manually and re-run:
 ['TRBVXYZ', 'TRBJ555']

              barcode is_cell     v_resolved     j_resolved  cdr3_amino_acid
0  AAACCTGAGACCACGA-1    True  TCRAV01-02*01     TCRAJ12*01     CAVMDSSYKLIF
1  AAACCTGAGACCACGA-1    True  TCRBV06-01*01  TCRBJ02-01*01  CASSGLAGGYNEQFF
2  AAACCTGAGGCTCTTA-1    True  TCRBV06-04*01  TCRBJ02-03*01  CASSGVAGGTDTQYF
3  AAACCTGAGGCTCTTA-1    True  TCRAV01-02*01     TCRAJ33*01     CAVKDSNYQLIW
4  AAACCTGAGTGAACGC-1    True     TCRBV02*01  TCRBJ01-02*01    CASNQGLNYGYTF
5             BARCODE    True            NaN            NaN         CDR3HERE